body {
	background: https://wallpapercave.com/wp/wp1822725.png no-repeat fixed center;
}

div.bn {
	font-family: arial;
	font-size: 20pt;
	margin-left: 750px;
	margin-bottom: 10px;
	
}

div.world { 
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	background: rgba(142,40,44,1);
	list-style-type: none;
	width: 25px;
	height: 10px;
	margin-left: 500px;
	margin-bottom: 10px;
	color: black;
	font-family: arial;
}

/* The animation code */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div.world {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}