div {
    border: 3px solid rgba(0, 0, 0, 0.623);
}

#container {
    border: 2px solid black;
    width: 60%;
    min-width: 400px;
    background-color: rgb(48, 48, 48);
    padding: 30px;
    margin: 0px auto;
}

#header {
    height: 80px;
    background-color: #4b8999;
    text-align: center;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 34px;
}

#left {
    color: #4b8999;
    float:left;
    width: 230px;
    height: 260px;
}

#footer{
    clear:both;
    text-align: center;
}

*{
    font-family: Verdana;
}